
#crlf
#core.safecrlf=true

#lf
* text=auto eol=lf

*.bat     text  eol=crlf
*.sln     text  eol=crlf
*.vcproj  text	eol=crlf
*.csproj  text  eol=crlf

*.sh      text  eol=lf

*.docx   diff=astextplain
*.DOCX   diff=astextplain

*.png binary
*.jpg binary
*.pdf binary
*.bin binary
*.exr binary
*.fbx binary
*.ttf binary